<!doctype html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Чат</title>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="/assets/js/jquery-1.7.2.min.js">\x3C/script>')</script>
    <script type="text/javascript" src="/assets/js/like.js"></script>
    <script type="text/javascript" src="/assets/js/main.js"></script>
    <script type="text/javascript" src="/assets/js/ie_placeholder.js"></script>
    <link media="screen" type="text/css" href="/assets/css/reset.css" rel="stylesheet">
    <link media="screen" type="text/css" href="/assets/css/main.css" rel="stylesheet">
</head>
<body>
    <div id="wrapper">
        <?=$content?>
    </div>
</body>